.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-area {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.right-area {
  width: 50%;
}

#map {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
}


#accommodation, #flight, #train, #car, #overview {
  display: block;
  max-height: calc(100vh - 370px);
  overflow: scroll;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 0.75;
}

.add-journey-form {
  height: auto !important;
  border-radius: 20px;
  padding: 50px;
  background-image: url("https://source.unsplash.com/collection/148531/1600x900") !important;
}

.form-box {
  border-radius: 20px;
}

.modal {
  border-radius: 20px !important;
}

#journeynew {
  top: 16% !important;
}

.hover-bg:hover {
  background: #3e51b512;
}

@media screen and (max-width: 1280px) {
  #accommodation, #flight, #train, #car, #overview {
    display: block;
    height: calc(100vh - 268px);
    overflow: scroll;
  }
}
