.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-area {
  width: 50%;
}

.right-area {
  width: 50%;
  height: 100vh;
  background: #ccc;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 13px;
  line-height: 0.75;
}
