.journey-banner {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3.journey-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
