.datepicker-container {
  .datepicker-day-button {
    color: black !important;
  }

  .is-today {
    color: red !important;
  }

  .date-text {
    font-size: 16px !important;
  }

  .select-month {
    color: black !important;
  }



}
