/* Main navbar */
.footer {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color-dark;
}

/* Logo */
.logo {
  height: 50px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: color("shades", "white");
  font-size: 14px;
}
.navbar-link:hover {
  color: $primary-color-light;
  text-decoration: none;
}

.navbar-btn {
  background-color: color("shades", "white");
  color: $primary-color;
  padding: 5px 20px;
  border-radius: 5px;
}
