.full-width-tabs {
  margin: 0;
  padding: 0 !important;
}

.journey-item-row {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.journey-item-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-radius {
  border-radius: 10px;
}

.journey-item-dates {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrival {
}

.departure {
}

.dates-icon {
  margin-right: 10px;
}

a.active {
  color: #5A5DAA !important;
}

.tabs .tab a {
  color: #5a5daa96;
}

.tabs .tab a:hover {
  color: #5A5DAA !important;
}
