.full-width-tabs {
  margin: 0;
  padding: 0 !important;
}

.journey-icons {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.journey-item-row {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.journey-item-image {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-radius {
  border-radius: 10px;
}

.journey-item-dates {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flight-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.train-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-details {
  text-align: center;
}

.car-pickup {
  text-align: right;
}

.train-info-div {
  text-align: center;
}

span.bold {
  font-weight: bold;
}

.plane-info {
  display: flex;
  justify-content: center;
}

h6.time {
  font-weight: 500 !important;
  color: #afafaf;
}

.plane-icon {
  transform: rotate(90deg);
}

.arrival {
}

.flight-departure {
  text-align: right;
}

.dates-icon {
  margin-right: 10px;
}

a.active {
  color: #5A5DAA !important;
}

.tabs .tab a {
  color: #5a5daa96;
}

.tabs .tab a:hover {
  color: #5A5DAA !important;
}
