<div class="full-width">

  <div class="left-area">
    <div class="journey-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1526737511523-ba685f246e8c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7673dbfb790ac307819fe5eec639da7b&auto=format&fit=crop&w=2691&q=80'); background-size: contain;">
    <h3 class="journey-title"><%= @journey.name %></h3>
    </div>
    <div class="row">
      <div class="col s12 full-width-tabs">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#accommodation">Accommodation</a></li>
          <li class="tab col s3"><a href="#flights">Flights</a></li>
          <li class="tab col s3"><a href="#trains">Trains</a></li>
          <li class="tab col s3"><a href="#cars">Cars</a></li>
        </ul>
      </div>
      <div id="accommodation" class="col s12">
        <% @journey.accommodations.each do |accommodation| %>
          <%= render accommodation %>
        <% end %>
      </div>
      <div id="flights" class="col s12">Test 2</div>
      <div id="trains" class="col s12">Test 3</div>
      <div id="cars" class="col s12">Test 4</div>
      </div>
  </div>

  <div class="right-area">
    <div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.flatten.to_json %>">
    </div>
  </div>

</div>
