<div class="banner" style="background-image: url('https://source.unsplash.com/collection/148531/1920x1080')">
  <div class="banner-content">
    <h1>All your bookings in one place</h1>
    <%= link_to t(".sign_up", default: "Your journey starts here"), new_user_registration_path, class: "btn cta" %>
  </div>
</div>

<!-- linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), -->


