<div class="footer-main">
  <div class="footer-item">
    <%= link_to "Jobs", "#", class: "footer-link" %>
    <%= link_to "Legals", "#", class: "footer-link" %>
    <%= link_to "FAQ", "#", class: "footer-link" %>
  </div>
</div>
